@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700&family=Mitr:wght@200;300;400;500&family=Ms+Madi&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mitr", "M PLUS Rounded 1c", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

.quatton {
  font-family: "Ms Madi", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .book-container {
    @apply aspect-[2/1] common relative
    flex flex-row items-center cursor-default
    justify-items-center
    ease-in-out;
  }

  .book-card {
    @apply absolute common aspect-square shadow-lg select-none
    rounded-md flex items-center justify-center overflow-hidden
    transition-[transform,_z-index]
    duration-[750ms,_375ms]
    bg-white flex-col;
  }

  .page-nav {
    @apply absolute common
    from-white/0 w-12 z-[99]
    rounded-r-sm flex justify-center items-center
  [&:hover_>_*]:text-amber-700 [&:active_>_*]:text-amber-900
    cursor-pointer hover:to-amber-100/60 active:to-white/0;
  }

  .page-nav-button {
    @apply text-amber-900 text-sm font-light select-none;
  }

  .open-book {
    transform-origin: left;
    transition: transform 0.2s;
  }

  .open-book:hover {
    transform: rotateY(-30deg);
  }
}
@layer utilities {
  .preserve-3d {
    transform-style: preserve-3d;
  }

  .common {
    @apply h-72 sm:h-96 preserve-3d
    transition-all duration-1000
    ease-[cubic-bezier(0,1,1,0)];
  }
}
