.container {
  @apply perspective w-full h-full flex flex-col items-center justify-center overflow-y-visible;
}

.squaredSquare {
  @apply perspective grid relative place-items-stretch
  w-3/5 sm:w-[24rem] aspect-square overflow-y-visible;
  animation: bigbob 10s ease-in-out infinite alternate;
  grid-template-rows: 27fr 8fr 11fr 4fr 2fr 7fr 11fr 5fr 4fr 33fr;
  grid-template-columns: 29fr 4fr 17fr 4fr 9fr 2fr 5fr 12fr 3fr 3fr 5fr 19fr;
}

.squaredSquare > *:nth-child(2n) {
  animation: bob 10s ease-in-out infinite alternate;
}

.squaredSquare > *:nth-child(2n + 1) {
  animation: bob 10s ease-in-out infinite alternate-reverse;
}

.squaredSquare > * {
  @apply perspective flex items-center justify-center [&:focus_>_span]:hidden [&:focus_>_a]:brightness-110
  [&:focus_img]:blur-sm [&:img]:duration-500 relative;
}

.squaredSquare a:hover > h1 {
  opacity: 100;
  transform: translateZ(40px);
}

.squaredSquare > *:focus h1 {
  opacity: 100;
  transform: translateZ(40px);
}

.book {
  @apply perspective relative w-[92%] h-[92%] shadow-xl drop-shadow-md
  flex items-center justify-center [&:hover+span]:hidden
  hover:brightness-110 [&:hover_img]:blur-sm
  transition-all;
}

.tag {
  @apply opacity-0 transition-all absolute
  w-3/4 flex items-center justify-center
  bg-neutral-300/80 text-center rounded-sm;
  font-size: 50%;
  padding-block: 5%;
  padding-inline: 5%;
}

.perspective {
  perspective: 800px;
  transform-style: preserve-3d;
}

.squaredSquare > *:nth-child(1) {
  @apply col-span-3 row-span-4;
}

.squaredSquare > *:nth-child(2) {
  @apply col-span-6 row-span-2;
}

.squaredSquare > *:nth-child(3) {
  @apply col-span-3 row-span-1;
}

.squaredSquare > *:nth-child(4) {
  @apply col-span-2 row-span-1;
}

.squaredSquare > *:nth-child(5) {
  @apply col-span-1 row-span-2;
}

.squaredSquare > *:nth-child(6) {
  @apply col-span-3 row-span-2;
}

.squaredSquare > *:nth-child(7) {
  @apply col-span-2 row-span-3;
}

.squaredSquare > *:nth-child(8) {
  @apply col-span-3 row-span-1;
}

.squaredSquare > *:nth-child(9) {
  @apply col-span-2 row-span-2;
}

.squaredSquare > *:nth-child(10) {
  @apply col-span-2 row-span-4;
}

.squaredSquare > *:nth-child(11) {
  @apply col-span-1 row-span-5;
}

.squaredSquare > *:nth-child(12) {
  @apply col-span-3 row-span-4;
}

.squaredSquare > *:nth-child(13) {
  @apply col-span-1 row-span-2;
}

.squaredSquare > *:nth-child(14) {
  @apply col-span-1 row-span-1;
}

.squaredSquare > *:nth-child(15) {
  @apply col-span-2 row-span-1;
}

.squaredSquare > *:nth-child(16) {
  @apply col-span-3 row-span-2;
}

.squaredSquare > *:nth-child(17) {
  @apply col-span-3 row-span-2;
}

.squaredSquare > *:nth-child(18) {
  @apply col-span-5 row-span-3;
}

.squaredSquare > *:nth-child(19) {
  @apply col-span-1 row-span-1;
}

.squaredSquare > *:nth-child(20) {
  @apply col-span-5 row-span-2;
}

.squaredSquare > *:nth-child(21) {
  @apply col-span-2 row-span-1;
}

@keyframes bob {
  0% {
    filter: brightness(0.8);
    transform: translateY(10%) rotateY(-90deg) translateX(calc(5% + 20px))
      rotateY(85deg);
  }
  100% {
    filter: brightness(1);
    transform: translateY(-10%) rotateY(-90deg) translateX(calc(15% + 20px))
      rotateY(95deg) translateY(5%);
  }
}

@keyframes bigbob {
  0% {
    filter: brightness(0.8);
    transform: rotateY(-5deg);
  }
  100% {
    filter: brightness(1.2);
    transform: rotateY(5deg);
  }
}
